* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    height: 100vh;
}
.main{
    height: 80%;
}
.footer{
    height: 10% !important;
}
.registration{
    height: 115vh;
}
@media(max-width:900px){
    .main{
        height: 84%;
    }

}
/* headerMain Section */
.headerMain-section button {
    font-size: 26px;
}

.toggleMenu {
    width: 40%;
    padding-top: 10px;
}

.user-div a,
.user-div button {
    font-size: 15px;
    padding: 10px;
    white-space: nowrap;
}

@media(max-width: 787px) {
    .toggleMenu {
        width: 100%;
    }
}

@media(max-width: 500px) {
    .headerMain-section button {
        font-size: 14px;
        padding: 2px 5px;
    }

    .user-div a,
    .user-div button {
        font-size: 10px;
        margin: 0 5px !important;
    }
}

@media(max-width: 400px) {

    .user-div a,
    .user-div button {
        font-size: 9px;
    }
}

.toggleMenu ul {
    padding-top: 50px;
}

.toggleMenu ul li a {
    color: #000000;
    font-size: 16px;
    padding: 10px 20px;
}

.toggleMenu ul li:hover {
    background: whitesmoke;
    transition: linear .4s;
    -webkit-transition: linear .4s;
    -moz-transition: linear .4s;
    -ms-transition: linear .4s;
    -o-transition: linear .4s;
}

.toggleMenu ul li:hover>a {
    margin-left: 10px;
    transition: linear .4s;
    -webkit-transition: linear .4s;
    -moz-transition: linear .4s;
    -ms-transition: linear .4s;
    -o-transition: linear .4s;
}

@media(max-width: 500px) {
    .toggleMenu ul {
        padding-top: 10px;
    }

    .toggleMenu ul li {
        padding: 5px 0;
    }

    .toggleMenu ul li a {
        font-size: 13px;
        padding: 5px 10px;
    }
}

/* headerMain Section */

/* bannerMain Section */
.bannerMain {
    padding: 100px 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

.bannerMain::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.bannerMain .bannerForm {
    z-index: 10;
}

.bannerMain .bannerText {
    position: relative;
    z-index: 11;
    padding-bottom: 10px;
}

.bannerMain .bannerText span {
    font-size: 24px;
    line-height: 1.5;
}

.bannerForm .bannerTitle h2 {
    font-size: 30px;
    padding-bottom: 5px;
}

.bannerForm form {
    border: 1px solid #fff;
    padding: 25px 15px;
}

.bannerForm .formLink a:hover {
    background: #fff;
    transition: linear .4s;
}
@media(max-width:900px){

    .bannerMain .bannerText {
        height: 75px;
    }

}
@media(max-width:500px) {
    .bannerMain {
        padding: 50px 0;
    }

    .bannerMain .bannerText {
        height: 60px;
    }

    .bannerMain .bannerText span {
        font-size: 15px;
    }

    .bannerForm form {
        padding: 20px 15px;
    }

    .bannerMain form .form-label {
        font-size: 13px;
        margin-bottom: 3px;
    }

    .bannerMain form .form-control,
    .bannerMain form .btn {
        font-size: 15px;
        padding: 4px 7px;
    }
}

@media(max-width:400px) {
    .bannerMain {
        padding: 25px 0;
    }

    .bannerMain .bannerText {
        height: 50px;
    }

    .bannerMain .bannerText span {
        font-size: 13px;
    }

    .bannerForm form {
        padding: 15px 12px;
    }

    .bannerMain form .form-label {
        font-size: 13px;
        padding: 3px 5px;
    }

    .bannerMain form .form-control,
    .bannerMain form .btn,
    .orderForm .form-control,
    .orderForm .btn  {
        font-size: 14px;
        padding: 4px 7px;
    }
}

.fee-div {
    z-index: 99;
}

.fee-item:hover {
    background: #ffc107 !important;
}

.fee-item:hover a {
    color: #fff !important;
}

/* bannerMain Section */

/* order.html */
.orderStatus {
    margin-top: 30px;
}

@media(max-width: 500px) {
    .orderStatus {
        margin-top: 15px;
    }
    .fee-item{
        font-size: 15px;
    }
}

.orderStatus .status {
    font-size: 14px;
    width: 33.33%;
    position: relative;
}

.orderStatus .status:nth-child(1)::after {
    position: absolute;
    content: '';
    background: #212529;
    width: 19px;
    height: 19px;
    right: -10px;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
}

.orderStatus .status:nth-child(2)::after {
    position: absolute;
    content: '';
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 20px;
    height: 20px;
    right: 0;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
}

.orderStatus .review-status:nth-child(1)::after {
    position: absolute;
    content: '';
    background: #6c757d;
    width: 20px;
    height: 20px;
    right: -10px;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
}

.orderStatus .review-status:nth-child(2)::after {
    position: absolute;
    content: '';
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    background: #212529;
    width: 20px;
    height: 20px;
    right: -10px;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
}

.orderStatus p {
    margin: 0 !important;
    padding: 0 !important;
}

.orderForm form button {
    width: 80px;
}
/* review order.html */

.reviewTitle p {
    margin: 0;
    padding: 0;
}

.review {
    border: 1px solid #212529;
}
@media(max-width: 400px) {
    .fee-item{
        font-size: 13px;
    }
    .orderForm .orderTitle{
        margin-bottom: 5px !important;
    }
    .orderTitle h6{
        font-size: 13px;
    }
    .reviewTitle p{
        font-size: 15px;
    }
    .listTitle {
        font-size: 16px;
    }
    .list-group-item,
    .list-group-item span,
    .review .btn{
        font-size: 13px;
    }
    .footer .order-2{
        font-size: 12px;
    }
}
@media(max-width: 360px){
    .user-div a, .user-div button {
        padding: 5px 5px;
    }
}
